*{padding: 0; margin: 0;}
.flex{
    display: flex;
}
.AboutMe{
    margin: 0 auto;
    width: 1200px;
    height: 100vh;
}
h2{
    text-align: center;
    font-size: 60px;
    padding-top: 214px;
}
.contents{
    padding-top: 50px;
    width: 100%;
    height: 430px;
    display: flex;
}
.mk{
    background: url(../img/kmk.png);
    width: 360px;
    height: 430px;
}
.txt{
    margin-left: 100px;
}
.txt p{
    margin-bottom: 10px;
    font-size: 20px;
}
.title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
.smalltxt{
    font-size: 12px;
}
.icon{
    width: 75px;
    height: 75px;
}
.css{
    background: url(../img/css.png);
}
.html{
    background: url(../img/html.png);
    margin-left: 10px;
}
.js{
    background: url(../img/js.png);
    margin-left: 10px;
}
.pigma{
    background: url(../img/pigma.png);
    margin-top: 10px;
}
.ps{
    background: url(../img/ps.png);
    margin-left: 10px;
    margin-top: 10px;
}
.react{
    background: url(../img/react.png);
    margin-left: 10px;
    margin-top: 10px;
}
.license{
    margin-top: 20px;
}
.license>p{
    margin-top: 20px;
    font-size: 20px;

}
