.project2{
    width: 100%;
    height: 100vh;
    background-color: #24253C;
    position: relative;
}
.doksurimokup{
    width: 770px;
    height: 510px;
    background: url(../img/team2.png);
    background-size: cover;
    z-index: 2;
}
.doksuritxt{
    width: 526px;
    height: 510px; 
    background-color: aqua;
    z-index: 2;
}