.project4{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: relative;

}
.dic{
    width: 700px;
    height: 510px;
    background: url(../img/dic.png);
    background-size: cover;
    z-index: 2;

}